<!-- Footer Section -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-text">
          <h6 class="display-6">&copy;Copyright 2021. All rights reserved.</h6>
        </span>
      </div>
    </nav>
  </footer>